<a href="https://colab.research.google.com/github/madhu2133/Letsupgrade_Python_b7/blob/master/Assignment1ofPythonday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
List1 = [1,"day2",[6,7,8], 10.34];
print(List1);
List1.append(3);
print(List1);
List1.insert(0,"inserted value");
print(List1);
List1.remove("inserted value");
print(List1);
List1.clear();
print(List1);
del List1;

[1, 'day2', [6, 7, 8], 10.34]
[1, 'day2', [6, 7, 8], 10.34, 3]
['inserted value', 1, 'day2', [6, 7, 8], 10.34, 3]
[1, 'day2', [6, 7, 8], 10.34, 3]
[]

In [4]:
dname={"a":"apple", "b":"ball" ,"c":"cat"};
print(dname);
dname[1]="alpha";
print(dname);
dname["d"]="dog";
print(dname);
del dname[1];
print(dname);
X=dname.get("a");
print(X);

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 1: 'alpha'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 1: 'alpha', 'd': 'dog'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}
apple

In [18]:
Tuple=(1,2,3,4);
print(Tuple);
print("The type is",type(Tuple));
print("The length of tuple is",len(Tuple));
print ("The max of tuple is",max(Tuple));
print ("The min of tuple is",min(Tuple));

(1, 2, 3, 4)
The type is <class 'tuple'>
The length of tuple is 4
The max of tuple is 4
The min of tuple is 1

In [29]:
Set1={"madhu","mitha","Kali","lingam"};
print(Set1);
Set2={"manik","Malhotra"};
print(Set2);
print(Set1.union(Set2));
print(Set1.intersection(Set2));
del(Set2);

{'mitha', 'lingam', 'madhu', 'Kali'}
{'Malhotra', 'manik'}
{'lingam', 'manik', 'Kali', 'mitha', 'Malhotra', 'madhu'}
set()

In [40]:
String="madhu";
print (String);
X=String.capitalize();
print (X);
print (len(X));
print ( X[0]);
print (X[:-1]);

madhu
Madhu
5
M
Madh